<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>IssueName</key>
	<string>0</string>
	<key>Title</key>
	<string>The Worm Issue</string>
	<key>BackdropColor</key>
	<string>176,87,55</string>
	<key>ViewControllers</key>
	<array>
		<dict>
			<key>ViewController</key>
			<string>SFTitlePageViewController</string>
			<key>StoryboardScene</key>
			<true/>
			<key>BackgroundImage</key>
			<string>Cover.png</string>
			<key>References</key>
			<array>
				<string>http://commons.wikimedia.org/</string>
			</array>
		</dict>
		<dict>
			<key>ViewController</key>
			<string>SFTitlePageViewController</string>
			<key>StoryboardScene</key>
			<false/>
			<key>BackgroundImage</key>
			<string>Cover.png</string>
			<key>References</key>
			<array>
				<string>http://commons.wikimedia.org/</string>
			</array>
		</dict>
		<dict>
			<key>ViewController</key>
			<string>SFMoviePage1ViewController</string>
			<key>StoryboardScene</key>
			<true/>
			<key>VideoURL</key>
			<string>NxeT_GDKv9g.mov</string>
		</dict>
		<dict>
			<key>ViewController</key>
			<string>SFMoviePage1ViewController</string>
			<key>StoryboardScene</key>
			<true/>
			<key>VideoURL</key>
			<string>NxeT_GDKv9g.mov</string>
		</dict>
		<dict>
			<key>BackgroundImage</key>
			<string>Backdrop-1.png</string>
			<key>StoryboardScene</key>
			<true/>
			<key>ViewController</key>
			<string>SFPicturePage1ViewController</string>
			<key>Audio</key>
			<array>
				<dict>
					<key>word</key>
					<string>The</string>
					<key>start</key>
					<real>0.361</real>
					<key>stop</key>
					<real>0.483</real>
				</dict>
				<dict>
					<key>word</key>
					<string>Quick</string>
					<key>start</key>
					<real>0.524</real>
					<key>stop</key>
					<real>0.734</real>
				</dict>
				<dict>
					<key>word</key>
					<string>Brown</string>
					<key>start</key>
					<real>0.953</real>
					<key>stop</key>
					<real>1.354</real>
				</dict>
				<dict>
					<key>word</key>
					<string>Fox</string>
					<key>start</key>
					<real>1.425</real>
					<key>stop</key>
					<real>2.013</real>
				</dict>
				<dict>
					<key>word</key>
					<string>Jumped</string>
					<key>start</key>
					<real>2.061</real>
					<key>stop</key>
					<real>2.602</real>
				</dict>
				<dict>
					<key>word</key>
					<string>Over</string>
					<key>start</key>
					<real>2.611</real>
					<key>stop</key>
					<real>3.183</real>
				</dict>
				<dict>
					<key>word</key>
					<string>The</string>
					<key>start</key>
					<real>3.203</real>
					<key>stop</key>
					<real>3.56</real>
				</dict>
				<dict>
					<key>word</key>
					<string>Box.</string>
					<key>start</key>
					<real>3.714</real>
					<key>stop</key>
					<real>4.391</real>
				</dict>
			</array>
			<key>AudioFile</key>
			<string>QuickFox.wav</string>
		</dict>
		<dict>
			<key>ViewController</key>
			<string>SFMoviePage1ViewController</string>
			<key>StoryboardScene</key>
			<true/>
			<key>VideoURL</key>
			<string>NxeT_GDKv9g.mov</string>
		</dict>
		<dict>
			<key>ViewController</key>
			<string>SFMoviePage1ViewController</string>
			<key>StoryboardScene</key>
			<true/>
			<key>VideoURL</key>
			<string>NxeT_GDKv9g.mov</string>
		</dict>
	</array>
</dict>
</plist>
