<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Issues</key>
	<array>
		<dict>
			<key>Issue</key>
			<string>1</string>
			<key>Date</key>
			<date>2013-06-01T05:00:00Z</date>
			<key>Name</key>
			<string>The Edison Issue</string>
			<key>CoverURL</key>
			<string>https://raw.github.com/tabinks/i/master/Issue1/Cover-Big.png</string>
			<key>ContentURL</key>
			<string>https://raw.github.com/tabinks/i/master/Issue1.zip</string>
			<key>ContentFilename</key>
			<string>gravityfalls.jpg</string>
		</dict>
		<dict>
			<key>Issue</key>
			<string>2</string>
			<key>Date</key>
			<date>2013-07-01T05:00:00Z</date>
			<key>Name</key>
			<string>The Worm Issue</string>
			<key>CoverURL</key>
			<string>https://raw.github.com/tabinks/i/master/Issue2/Cover-Big.png</string>
			<key>ContentURL</key>
			<string>https://raw.github.com/tabinks/i/master/Issue2.zip</string>
			<key>ContentFilename</key>
			<string>list.txt</string>
		</dict>
		<dict>
			<key>Issue</key>
			<string>3</string>
			<key>Date</key>
			<date>2013-07-01T05:00:00Z</date>
			<key>Name</key>
			<string>The Shake It Up Issue</string>
			<key>CoverURL</key>
			<string>https://raw.github.com/tabinks/i/master/Issue3/Cover-Big.png</string>
			<key>ContentURL</key>
			<string>https://raw.github.com/tabinks/i/master/Issue3.zip</string>
			<key>ContentFilename</key>
			<string>shakeitup.m4a</string>
		</dict>
	</array>
	<key>Version</key>
	<string>1</string>
</dict>
</plist>
