<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>New item</key>
	<array/>
	<key>Version</key>
	<string>1</string>
	<key>Issue1</key>
	<dict>
		<key>Issue</key>
		<string>1</string>
		<key>Date</key>
		<date>2011-10-01T06:00:00Z</date>
		<key>Name</key>
		<string>The Worm Issue</string>
		<key>Cover</key>
		<string>http://www.viggiosoft.com/media/data/blog/newsstand/magazine-0.png</string>
		<key>ContentURL</key>
		<string>https://raw.github.com/tabinks/i/master/oscar.jpg</string>
		<key>ContentFilename</key>
		<string>image1.jpg</string>
	</dict>
	<key>Issue1 - 2</key>
	<dict>
		<key>Issue</key>
		<string>1</string>
		<key>Date</key>
		<date>2011-10-01T06:00:00Z</date>
		<key>Name</key>
		<string>The Worm Issue</string>
		<key>Cover</key>
		<string>http://www.viggiosoft.com/media/data/blog/newsstand/magazine-0.png</string>
		<key>ContentURL</key>
		<string>https://raw.github.com/tabinks/i/master/oscar.jpg</string>
		<key>ContentFilename</key>
		<string>image1.jpg</string>
	</dict>
	<key>Issue1 - 3</key>
	<dict>
		<key>Issue</key>
		<string>1</string>
		<key>Date</key>
		<date>2011-10-01T06:00:00Z</date>
		<key>Name</key>
		<string>The Worm Issue</string>
		<key>Cover</key>
		<string>http://www.viggiosoft.com/media/data/blog/newsstand/magazine-0.png</string>
		<key>ContentURL</key>
		<string>https://raw.github.com/tabinks/i/master/oscar.jpg</string>
		<key>ContentFilename</key>
		<string>image1.jpg</string>
	</dict>
	<key>Issue1 - 4</key>
	<dict>
		<key>Issue</key>
		<string>1</string>
		<key>Date</key>
		<date>2011-10-01T06:00:00Z</date>
		<key>Name</key>
		<string>The Worm Issue</string>
		<key>Cover</key>
		<string>http://www.viggiosoft.com/media/data/blog/newsstand/magazine-0.png</string>
		<key>ContentURL</key>
		<string>https://raw.github.com/tabinks/i/master/oscar.jpg</string>
		<key>ContentFilename</key>
		<string>image1.jpg</string>
	</dict>
	<key>Issue1 - 5</key>
	<dict>
		<key>Issue</key>
		<string>1</string>
		<key>Date</key>
		<date>2011-10-01T06:00:00Z</date>
		<key>Name</key>
		<string>The Worm Issue</string>
		<key>Cover</key>
		<string>http://www.viggiosoft.com/media/data/blog/newsstand/magazine-0.png</string>
		<key>ContentURL</key>
		<string>https://raw.github.com/tabinks/i/master/oscar.jpg</string>
		<key>ContentFilename</key>
		<string>image1.jpg</string>
	</dict>
	<key>Issue1 - 6</key>
	<dict>
		<key>Issue</key>
		<string>1</string>
		<key>Date</key>
		<date>2011-10-01T06:00:00Z</date>
		<key>Name</key>
		<string>The Worm Issue</string>
		<key>Cover</key>
		<string>http://www.viggiosoft.com/media/data/blog/newsstand/magazine-0.png</string>
		<key>ContentURL</key>
		<string>https://raw.github.com/tabinks/i/master/oscar.jpg</string>
		<key>ContentFilename</key>
		<string>image1.jpg</string>
	</dict>
	<key>Issue1 - 7</key>
	<dict>
		<key>Issue</key>
		<string>1</string>
		<key>Date</key>
		<date>2011-10-01T06:00:00Z</date>
		<key>Name</key>
		<string>The Worm Issue</string>
		<key>Cover</key>
		<string>http://www.viggiosoft.com/media/data/blog/newsstand/magazine-0.png</string>
		<key>ContentURL</key>
		<string>https://raw.github.com/tabinks/i/master/oscar.jpg</string>
		<key>ContentFilename</key>
		<string>image1.jpg</string>
	</dict>
</dict>
</plist>
