<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>FullVersion</key>
	<string>70433d5-dirty</string>
	<key>Issues</key>
	<array>
		<dict>
			<key>Color</key>
			<string>176,87,55</string>
			<key>ContentFilename</key>
			<string>list.txt</string>
			<key>ContentURL</key>
			<string>https://dl.dropboxusercontent.com/u/3976887/Issue0.zip</string>
			<key>CoverLibraryURL</key>
			<string>https://raw.github.com/tabinks/i/master/Issue0/Cover-Library.png</string>
			<key>Date</key>
			<date>2013-07-01T05:00:00Z</date>
			<key>Description</key>
			<string>Learn and explore the world of the earthworm and you will find that it is not so common.  This issue is edited by Dr. Gyorgy Babnigg a biologist at the University of Chicago.</string>
			<key>Issue</key>
			<string>0</string>
			<key>Name</key>
			<string>The Worm Issue</string>
			<key>Version</key>
			<integer>27</integer>
		</dict>
		<dict>
			<key>Color</key>
			<string>186,216,233</string>
			<key>ContentFilename</key>
			<string>shakeitup.m4a</string>
			<key>ContentURL</key>
			<string>https://raw.github.com/tabinks/i/master/Issue1.zip</string>
			<key>CoverLibraryURL</key>
			<string>https://raw.github.com/tabinks/i/master/Issue1/Cover-Library.png</string>
			<key>Date</key>
			<date>2013-07-01T05:00:00Z</date>
			<key>Description</key>
			<string>Vist the lab and learn about the inventions of the great American Inventor Thomas Alva Edison.</string>
			<key>Issue</key>
			<string>1</string>
			<key>Name</key>
			<string>The Shake It Up Issue</string>
			<key>Version</key>
			<integer>47</integer>
		</dict>
		<dict>
			<key>Color</key>
			<string>150,150,150</string>
			<key>ContentURL</key>
			<string>https://raw.github.com/tabinks/i/master/Issue2.zip</string>
			<key>CoverLibraryURL</key>
			<string>https://raw.github.com/tabinks/i/master/Issue2/Cover-Library.png</string>
			<key>Date</key>
			<date>2013-08-01T05:00:00Z</date>
			<key>Description</key>
			<string>See how DNA constructs the basic building blocks for all life.  This issue is edited by Dr. Susana Marino, a immunologist at the University of Chicago.</string>
			<key>Issue</key>
			<string>2</string>
			<key>Name</key>
			<string>DNA for President!</string>
			<key>Version</key>
			<integer>14</integer>
		</dict>
	</array>
	<key>ShortVersion</key>
	<string>70433d549a21b41e25bf6949948476157f55922b</string>
	<key>Version</key>
	<integer>205</integer>
</dict>
</plist>
