<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>IssueName</key>
	<string>1</string>
	<key>Title</key>
	<string>The Edison Issue</string>
	<key>BackdropColor</key>
	<string>186,216,233</string>
	<key>ViewControllers</key>
	<array>
		<dict>
			<key>ViewController</key>
			<string>SFTitlePageViewController</string>
			<key>BackgroundImage</key>
			<string>Cover.png</string>
			<key>References</key>
			<array>
				<string>http://commons.wikimedia.org/</string>
			</array>
		</dict>
		<dict>
			<key>ViewController</key>
			<string>SFExclusionPathViewController</string>
			<key>Text</key>
			<string>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using &apos;Content here, content here&apos;, making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for &apos;lorem ipsum&apos; will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).</string>
			<key>ImagePathFile</key>
			<string>Worm1-BezierPath.plist</string>
			<key>Image</key>
			<string>Worm1.png</string>
			<key>References</key>
			<array>
				<string>http://commons.wikimedia.org/</string>
			</array>
		</dict>
		<dict>
			<key>ViewController</key>
			<string>SFTitlePageViewController</string>
			<key>BackgroundImage</key>
			<string>Cover.png</string>
			<key>References</key>
			<array>
				<string>http://commons.wikimedia.org/</string>
			</array>
		</dict>
		<dict>
			<key>ViewController</key>
			<string>SFPicturePage1ViewController</string>
			<key>Image</key>
			<string></string>
			<key>Audio</key>
			<array>
				<dict>
					<key>word</key>
					<string>The</string>
					<key>start</key>
					<real>0.361</real>
					<key>stop</key>
					<real>0.483</real>
				</dict>
				<dict>
					<key>word</key>
					<string>Quick</string>
					<key>start</key>
					<real>0.524</real>
					<key>stop</key>
					<real>0.734</real>
				</dict>
				<dict>
					<key>word</key>
					<string>Brown</string>
					<key>start</key>
					<real>0.953</real>
					<key>stop</key>
					<real>1.354</real>
				</dict>
				<dict>
					<key>word</key>
					<string>Fox</string>
					<key>start</key>
					<real>1.425</real>
					<key>stop</key>
					<real>2.013</real>
				</dict>
				<dict>
					<key>word</key>
					<string>Jumped</string>
					<key>start</key>
					<real>2.061</real>
					<key>stop</key>
					<real>2.602</real>
				</dict>
				<dict>
					<key>word</key>
					<string>Over</string>
					<key>start</key>
					<real>2.611</real>
					<key>stop</key>
					<real>3.183</real>
				</dict>
				<dict>
					<key>word</key>
					<string>The</string>
					<key>start</key>
					<real>3.203</real>
					<key>stop</key>
					<real>3.56</real>
				</dict>
				<dict>
					<key>word</key>
					<string>Box.</string>
					<key>start</key>
					<real>3.714</real>
					<key>stop</key>
					<real>4.391</real>
				</dict>
			</array>
			<key>AudioFile</key>
			<string>QuckFox.wav</string>
		</dict>
		<dict>
			<key>ViewController</key>
			<string>SFPicturePage1ViewController</string>
			<key>Image</key>
			<string></string>
			<key>Audio</key>
			<array>
				<dict>
					<key>word</key>
					<string>The</string>
					<key>start</key>
					<real>0.361</real>
					<key>stop</key>
					<real>0.483</real>
				</dict>
				<dict>
					<key>word</key>
					<string>Quick</string>
					<key>start</key>
					<real>0.524</real>
					<key>stop</key>
					<real>0.734</real>
				</dict>
				<dict>
					<key>word</key>
					<string>Brown</string>
					<key>start</key>
					<real>0.953</real>
					<key>stop</key>
					<real>1.354</real>
				</dict>
				<dict>
					<key>word</key>
					<string>Fox</string>
					<key>start</key>
					<real>1.425</real>
					<key>stop</key>
					<real>2.013</real>
				</dict>
				<dict>
					<key>word</key>
					<string>Jumped</string>
					<key>start</key>
					<real>2.061</real>
					<key>stop</key>
					<real>2.602</real>
				</dict>
				<dict>
					<key>word</key>
					<string>Over</string>
					<key>start</key>
					<real>2.611</real>
					<key>stop</key>
					<real>3.183</real>
				</dict>
				<dict>
					<key>word</key>
					<string>The</string>
					<key>start</key>
					<real>3.203</real>
					<key>stop</key>
					<real>3.56</real>
				</dict>
				<dict>
					<key>word</key>
					<string>Box.</string>
					<key>start</key>
					<real>3.714</real>
					<key>stop</key>
					<real>4.391</real>
				</dict>
			</array>
			<key>AudioFile</key>
			<string>QuckFox.wav</string>
		</dict>
		<dict>
			<key>ViewController</key>
			<string>SFPicturePage1ViewController</string>
			<key>Image</key>
			<string></string>
			<key>Audio</key>
			<array>
				<dict>
					<key>word</key>
					<string>The</string>
					<key>start</key>
					<real>0.361</real>
					<key>stop</key>
					<real>0.483</real>
				</dict>
				<dict>
					<key>word</key>
					<string>Quick</string>
					<key>start</key>
					<real>0.524</real>
					<key>stop</key>
					<real>0.734</real>
				</dict>
				<dict>
					<key>word</key>
					<string>Brown</string>
					<key>start</key>
					<real>0.953</real>
					<key>stop</key>
					<real>1.354</real>
				</dict>
				<dict>
					<key>word</key>
					<string>Fox</string>
					<key>start</key>
					<real>1.425</real>
					<key>stop</key>
					<real>2.013</real>
				</dict>
				<dict>
					<key>word</key>
					<string>Jumped</string>
					<key>start</key>
					<real>2.061</real>
					<key>stop</key>
					<real>2.602</real>
				</dict>
				<dict>
					<key>word</key>
					<string>Over</string>
					<key>start</key>
					<real>2.611</real>
					<key>stop</key>
					<real>3.183</real>
				</dict>
				<dict>
					<key>word</key>
					<string>The</string>
					<key>start</key>
					<real>3.203</real>
					<key>stop</key>
					<real>3.56</real>
				</dict>
				<dict>
					<key>word</key>
					<string>Box.</string>
					<key>start</key>
					<real>3.714</real>
					<key>stop</key>
					<real>4.391</real>
				</dict>
			</array>
			<key>AudioFile</key>
			<string>QuckFox.wav</string>
		</dict>
		<dict>
			<key>ViewController</key>
			<string>SFPicturePage1ViewController</string>
			<key>Image</key>
			<string></string>
			<key>Audio</key>
			<array>
				<dict>
					<key>word</key>
					<string>The</string>
					<key>start</key>
					<real>0.361</real>
					<key>stop</key>
					<real>0.483</real>
				</dict>
				<dict>
					<key>word</key>
					<string>Quick</string>
					<key>start</key>
					<real>0.524</real>
					<key>stop</key>
					<real>0.734</real>
				</dict>
				<dict>
					<key>word</key>
					<string>Brown</string>
					<key>start</key>
					<real>0.953</real>
					<key>stop</key>
					<real>1.354</real>
				</dict>
				<dict>
					<key>word</key>
					<string>Fox</string>
					<key>start</key>
					<real>1.425</real>
					<key>stop</key>
					<real>2.013</real>
				</dict>
				<dict>
					<key>word</key>
					<string>Jumped</string>
					<key>start</key>
					<real>2.061</real>
					<key>stop</key>
					<real>2.602</real>
				</dict>
				<dict>
					<key>word</key>
					<string>Over</string>
					<key>start</key>
					<real>2.611</real>
					<key>stop</key>
					<real>3.183</real>
				</dict>
				<dict>
					<key>word</key>
					<string>The</string>
					<key>start</key>
					<real>3.203</real>
					<key>stop</key>
					<real>3.56</real>
				</dict>
				<dict>
					<key>word</key>
					<string>Box.</string>
					<key>start</key>
					<real>3.714</real>
					<key>stop</key>
					<real>4.391</real>
				</dict>
			</array>
			<key>AudioFile</key>
			<string>QuckFox.wav</string>
		</dict>
		<dict>
			<key>ViewController</key>
			<string>SFPicturePage1ViewController</string>
			<key>Image</key>
			<string></string>
			<key>Audio</key>
			<array>
				<dict>
					<key>word</key>
					<string>The</string>
					<key>start</key>
					<real>0.361</real>
					<key>stop</key>
					<real>0.483</real>
				</dict>
				<dict>
					<key>word</key>
					<string>Quick</string>
					<key>start</key>
					<real>0.524</real>
					<key>stop</key>
					<real>0.734</real>
				</dict>
				<dict>
					<key>word</key>
					<string>Brown</string>
					<key>start</key>
					<real>0.953</real>
					<key>stop</key>
					<real>1.354</real>
				</dict>
				<dict>
					<key>word</key>
					<string>Fox</string>
					<key>start</key>
					<real>1.425</real>
					<key>stop</key>
					<real>2.013</real>
				</dict>
				<dict>
					<key>word</key>
					<string>Jumped</string>
					<key>start</key>
					<real>2.061</real>
					<key>stop</key>
					<real>2.602</real>
				</dict>
				<dict>
					<key>word</key>
					<string>Over</string>
					<key>start</key>
					<real>2.611</real>
					<key>stop</key>
					<real>3.183</real>
				</dict>
				<dict>
					<key>word</key>
					<string>The</string>
					<key>start</key>
					<real>3.203</real>
					<key>stop</key>
					<real>3.56</real>
				</dict>
				<dict>
					<key>word</key>
					<string>Box.</string>
					<key>start</key>
					<real>3.714</real>
					<key>stop</key>
					<real>4.391</real>
				</dict>
			</array>
			<key>AudioFile</key>
			<string>QuckFox.wav</string>
		</dict>
		<dict>
			<key>ViewController</key>
			<string>SFPicturePage1ViewController</string>
			<key>Image</key>
			<string></string>
			<key>Audio</key>
			<array>
				<dict>
					<key>word</key>
					<string>The</string>
					<key>start</key>
					<real>0.361</real>
					<key>stop</key>
					<real>0.483</real>
				</dict>
				<dict>
					<key>word</key>
					<string>Quick</string>
					<key>start</key>
					<real>0.524</real>
					<key>stop</key>
					<real>0.734</real>
				</dict>
				<dict>
					<key>word</key>
					<string>Brown</string>
					<key>start</key>
					<real>0.953</real>
					<key>stop</key>
					<real>1.354</real>
				</dict>
				<dict>
					<key>word</key>
					<string>Fox</string>
					<key>start</key>
					<real>1.425</real>
					<key>stop</key>
					<real>2.013</real>
				</dict>
				<dict>
					<key>word</key>
					<string>Jumped</string>
					<key>start</key>
					<real>2.061</real>
					<key>stop</key>
					<real>2.602</real>
				</dict>
				<dict>
					<key>word</key>
					<string>Over</string>
					<key>start</key>
					<real>2.611</real>
					<key>stop</key>
					<real>3.183</real>
				</dict>
				<dict>
					<key>word</key>
					<string>The</string>
					<key>start</key>
					<real>3.203</real>
					<key>stop</key>
					<real>3.56</real>
				</dict>
				<dict>
					<key>word</key>
					<string>Box.</string>
					<key>start</key>
					<real>3.714</real>
					<key>stop</key>
					<real>4.391</real>
				</dict>
			</array>
			<key>AudioFile</key>
			<string>QuckFox.wav</string>
		</dict>
	</array>
</dict>
</plist>
